.imageContainer {
  max-width: 400px;
  width: 100%;
}

.nextArrowWrap {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  height: 100%;
  width: 15%;
  z-index: 50;
  cursor: pointer;
  opacity: .15;
  background: linear-gradient(to left, #000, transparent);
  transition: opacity .25s;
  &:hover {
    opacity: .5;
  }
  span {
    position: absolute;
    right: 15px;
    svg {
      color: #ffffff;
      height: 25px;
      width: 25px;
    }
  }
}

.prevArrowWrap {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left:0;
  height: 100%;
  width: 15%;
  z-index: 50;
  cursor: pointer;
  opacity: .15;
  background: linear-gradient(to right, #000, transparent);
  transition: opacity .25s;
  &:hover {
    opacity: .5;
  }
  span {
    position: absolute;
    left: 15px;
    svg {
      color: #ffffff;
      height: 25px;
      width: 25px;
    }
  }
}