@import '../variables.scss';

.titleContainerWrap {
  position: relative;
}

.titleContainer {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  h1 {
    margin: 0;
    position: relative;
  }
  span {
    margin-left: 16px;
  }
}

.titleDivider {
  margin: 0;
  height: 2px;
  width: 100px;
  background: $primary-color;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.contentWrapper {
  display: flex;
  @include mq(xl) {
    display: block;
  }
}

.mainContainer {
  max-width: 70%;
  @include mq(xl) {
    max-width: 100%;
  }
}

.imageCarousel {
  max-width: 600px;
  margin: auto;
}

.siderContainer {
  margin: 0 0 0 24px;
  @include mq(xl) {
    margin: 24px 0 0 0;
  }
}

.subCard {
  margin-top: 24px;
}

.subCardTitle {
  display: flex;
  margin-bottom: 16px;
  span {
    font-size: 20px;
    margin-right: 8px;
    color: $primary-color;
  }
  h3 {
    margin: 0;
  }
}

.subCardTitleNorMargin {
  display: flex;
  span {
    font-size: 20px;
    margin-right: 8px;
    color: $primary-color;
  }
  h3 {
    margin: 0;
  }
}

.subCardTitleWithSwitch {
  display: flex;
  justify-content: space-between;
}

.switchLabelText {
  margin-right: 10px;
  display: block;
  @include mq(sm) {
    display: none;
  }
}

.switchLabelICon {
  margin-right: 10px;
  font-size: 20px;
  color: $primary-color;
  display: none;
  @include mq(sm) {
    display: block;
  }
}

.listItem {
  display: block;
}

.sourceContainer {
  margin-left: 30px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.sourceTextWrap {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.siderCard {
  margin-top: 24px;
}

.showAllButton {
  text-align: center;
}

.adDummy {
  width: 336px;
  height: 280px;
  background: #999999;
}

.nextArrowWrap {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  height: 100%;
  width: 15%;
  z-index: 50;
  cursor: pointer;
  opacity: .15;
  background: linear-gradient(to left, #000, transparent);
  transition: opacity .25s;
  &:hover {
    opacity: .5;
  }
  span {
    position: absolute;
    right: 15px;
    svg {
      color: #ffffff;
      height: 25px;
      width: 25px;
    }
  }
}

.prevArrowWrap {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left:0;
  height: 100%;
  width: 15%;
  z-index: 50;
  cursor: pointer;
  opacity: .15;
  background: linear-gradient(to right, #000, transparent);
  transition: opacity .25s;
  &:hover {
    opacity: .5;
  }
  span {
    position: absolute;
    left: 15px;
    svg {
      color: #ffffff;
      height: 25px;
      width: 25px;
    }
  }
}