@import '../variables.scss';

.cardHover {
  transition: 0.2s ease-in-out;
  &:hover {
    transform: translateY(-10px)
  }
}

.itemTitleSp {
  margin-top: 10px;
  display: none;
  @include mq(sm) {
    display: block;
  }
}

.itemTitle {
  display: block;
  @include mq(sm) {
    display: none;
  }
}

.infoCardInner {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.iconContainer {
  position: relative;
  height: 152px;
  width: 152px;
  min-width: 152px;
  @include mq(sm) {
    height: 80px;
    width: 80px;
    min-width: 80px;
  }
}

.icon {
  position: absolute;
  top: 6px;
  left: 12px;
  @include mq(sm) {
    height: 68px;
    width: 68px;
    top: 3px;
    left: 6px;
  }
}

.iconCover {
  height: 152px;
  width: 152px;
  position: absolute;
  top: 0;
  left: 0;
  @include mq(sm) {
    height: 80px;
    width: 80px;
  }
}

.infoContainer {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}

.baseInfoContainer {
  display: flex;
  flex-direction: column;
  :first-child {
    margin-bottom: 10px;
  }
  :last-child {
    margin-bottom: 10px;
  }
}

.itemLevelBadge {
  margin: 10px 0;
  sup {
    background-color: $primary-color;
    display: inline-block !important;
    margin-bottom: 0 !important;
    font-weight: 500;
  }
}

// コンパクトスタイル
.itemTitleSpCompact {
  margin-top: 10px;
  display: none;
  @include mq(sm) {
    display: block;
  }
}

.iconContainerCompact {
  position: relative;
  height: 80px;
  width: 80px;
  min-width: 80px;
}

.iconCompact {
  position: absolute;
  height: 68px;
  width: 68px;
  top: 3px;
  left: 6px;
}

.iconCoverCompact {
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 80px;
}

.linksContainer {
  margin: 16px 16px 0 16px;
  @include mq(sm) {
    margin: 16px 0 0 0;
  }
}

.lodestoneLink {
  margin: 0 16px 0 0;
  &:hover {
    border-color: #cb4141;
  }
  @include mq(sm) {
    width: 100%;
    margin: 0 0 8px 0;
  }
  img {
    height: 20px;
    width: 20px;
    margin-right: 5px;
  }
}