@import '../variables.scss';

.itemTitleSp {
  margin-top: 10px;
  display: none;
  @include mq(sm) {
    display: block;
  }
}

.itemTitle {
  display: block;
  @include mq(sm) {
    display: none;
  }
}

.infoCardInner {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.iconContainer {
  position: relative;
  height: 152px;
  width: 152px;
  @include mq(sm) {
    height: 80px;
    width: 80px;
  }
}

.icon {
  position: absolute;
  top: 6px;
  left: 12px;
  @include mq(sm) {
    height: 68px;
    width: 68px;
    top: 3px;
    left: 6px;
  }
}

.iconCover {
  height: 152px;
  width: 152px;
  position: absolute;
  top: 0;
  left: 0;
  @include mq(sm) {
    height: 80px;
    width: 80px;
  }
}

.infoContainer {
  display: flex;
  flex-direction: column;
  margin: 0 24px;
}

.baseInfoContainer {
  display: flex;
  flex-direction: column;
  :first-child {
    margin-bottom: 10px;
  }
  :last-child {
    margin-bottom: 10px;
  }
}

.itemLevelBadge {
  margin: 10px 0;
  sup {
    background-color: $primary-color;
    display: inline-block !important;
    margin-bottom: 0 !important;
    font-weight: 500;
  }
}

// コンパクトスタイル
.itemTitleSpCompact {
  margin-top: 10px;
  display: none;
  @include mq(sm) {
    display: block;
  }
}

.iconContainerCompact {
  position: relative;
  height: 80px;
  width: 80px;
}

.iconCompact {
  position: absolute;
  height: 68px;
  width: 68px;
  top: 3px;
  left: 6px;
}

.iconCoverCompact {
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 80px;
}