@import '../variables.scss';

.sider {
  height: 101vh;
  position: fixed;
  left: 0;
  z-index: 100;
}

.zeroWidthTrigger {
  top: 10px;
}

.menuIcon {
  img {
    width: 24px;
    height: 24px;
  }
}

.contentWrapper {
  min-height: 100vh;
  margin-left: 200px;
  @include mq(lg) {
    margin-left: 0;
  }
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.siteLayoutSubHeader {
  background: #fff;
  display: flex;
  justify-content: flex-end;
  @include mq(sm) {
    justify-content: center;
  }
}

.breadcrumb {
  margin: 10px 16px 0 16px;
}

.breadcrumbDivider {
  margin: 8px 0 0 0;
}

.content {
  margin: 24px 16px;
}

.footer {
  text-align: center;
  font-size: 12px;
}

.BackToTopWrap {
  right: 50px;
  transition: .25s ease;
  @include mq(lg) {
    right: 20px;
    bottom: 20px;
  }
  &:hover {
    filter: brightness(120%);
  }
}

.BackToTop {
  background-color: $primary-color;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  svg {
    transform: rotate(90deg);
  }
}